@import "./../../../../../assets/sass/instance";
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  // position: absolute;
  width: 100%;
  height: 100%;
    .content {
      position: relative;
        // background-color: cornflowerblue;
        height: 100%;
        // line-height: center;
        display: grid;
        grid-template-columns: repeat(3, 252px);
        gap: 15px;
        align-items: center;
        .card {
            position: relative;
            width: 254px;
            height: 355px;
            // background-color: aquamarine;
            @include border-radius(5px);
            border: 1px $c3 solid;
        }

        @include brp($b6) {
          grid-template-columns: 252px 252px;
        }

        @include brp($b8) {
          grid-template-columns: 252px;
        }
    }
}
